.layout
{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.h1
{
    text-align: left;
    margin-left: 300px;
}

.flexRow
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.buttonStyle
{
    background-color: #AAD5DB;
    border-radius: 100px;
    border: none;
    margin:20px;
    display: flex;
    flex-direction: row;
    justifycontent: space-evenly;
    align-items: center;
}

.buttonText
{
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Century Gothic";
    font-weight: bold;
    color: #222222;
}

.buttonStyle:hover
{
    background-color: lightskyblue;
}

.inputStyle
{
    border-color: #AAD5DB;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #222222;
}